@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8" />
</head>
<body>
    <h2>Start/Index.html</h2>
    <a href="Start/One">One</a><br />
    <a href="Start/Two">Two</a><br />
    <a href="Start/Three">Three</a>
</body>
</html>