<a href="http://localhost:5235/?press=%2B&x=0&y=0">Sum</a>
<a href="http://localhost:5235/?press=-&x=0&y=0">Sub</a>
<a href="http://localhost:5235/?press=%2A&x=0&y=0">Mul</a>
<a href="http://localhost:5235/?press=%2F&x=0&y=0">Div</a>