@using Microsoft.AspNetCore.Identity;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Admin/ChangePassword</title>
</head>
<body>
	<h1>Admin/ChangePassword</h1>
	<form method="post" action="/Admin/ChangePassword">
		Old password: <input type="text" name="oldPass" />
		New password: <input type="text" name="newPass" />
		<input type="hidden" name="controller" value="Home" />
		<input type="hidden" name="action" value="Index" />
		<input type="submit" value="OK" />
		<input type="reset" value="Reset" />
	</form>
</body>
</html>
