@using Microsoft.AspNetCore.Identity;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Admin/Error</title>
</head>
<body>
	<h1>Admin/Error</h1>
	<div>@ViewBag.message</div>
</body>
</html>
