@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Admin/SelfDeleted</title>
</head>
<body>
	<h1>Admin/SelfDeleted</h1>
	<div>Your account was deleted</div>
	<a href="/Home/Index">Home/Index</a>
</body>
</html>