@using Microsoft.AspNetCore.Identity;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Admin/SignIn</title>
</head>
<body>
	<h1>Admin/SignIn</h1>
	<form method="post" action="/Admin/SignIn">
		Name: <input type="text" name="name" />
		Password: <input type="text" name="pass" />
		<input type="hidden" name="controller" value="Home" />
		<input type="hidden" name="action" value="Index" />
		<input type="submit" value="OK" />
		<input type="reset" value="Reset" />
	</form>
</body>
</html>
